.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown img {
  display: inline;
}

.dropdown .choice {
  width: 300px;
}

.dropdown .field, .dropdown .choice {
  background: #5794e7;
  color: #fff;
  padding: 5px;
  border: none;
  cursor: pointer;
  font-size: 1em;
  border: solid 1px #5794e7;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.dropdown .choice:hover {
  border: solid 1px #fff;
  -moz-box-shadow: 0 0 5px #999;
  -webkit-box-shadow: 0 0 5px #999;
  box-shadow: 0 0 5px #999
}
.dropdown>ul.list {
  display: none;
  position: absolute; left: 30px; top: -30px; z-indropdowndex: 999;
  width: 300px;
  margin: 0; padding: 10px; list-style: none;
  background: #fff; color: #333;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0 0 5px #999;
  -webkit-box-shadow: 0 0 5px #999;
  box-shadow: 0 0 5px #999
}
.dropdown>ul.list li {
  padding: 10px;
  border-bottom: solid 1px #ccc;
}
.dropdown>ul.list li:hover {
  background: #5794e7;
  color: #fff;
}
.dropdown>ul.list li:last-child {
  border: none
}
