<html>
    <head>
        <style type="text/css">
.extra_div {
	padding-left: 32px;
	height: 32px;
	line-height: 32px;
}
.extra_div span {
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
}
        </style>
{% block extrahead %}
{{ form.media }}
{% endblock %}
    </head>
    <body>
        <div>
    {% block body %}
    <form action="{% url 'calculate' %}" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit"></form></br>
        {{ content|safe }}
    {% endblock %}
        </div>
    </body>
</html>
