<div class="extra_div" style="margin-left:{{ depth * (32 + 16) }}px;{% if depth > 0 %} border-left: 1px solid black;{% endif %}">
	<span><img src="{{ product.image }}" style="width: 32px;"> / sec: {{ output_per_second|round(3) }} ( {{ machines|round(3) }} machines )</span>
</div>
{{ extra }}
