{% block body %}
<h1>Combined</h1>
<h3>(Machines per intermediate product):</h3>
<table>
    <tr>
{% for product, machines in machines.items() %}
        <td><img src="{{ product.image }}"/>: {{ machines['machines']|round(3) }}</td>
{% endfor %}
    </tr>
</table>
<h1>Broken down:</h1>
{{ extra }}
{% endblock %}

<h1>Consumed Resources:</h1>
<table>
    <tr>
{% for product, machines in machines.items() %}
        <td><img src="{{ product.image }}"/>: {{ machines['product_per_second']|round(3) }} / sec</td>
{% endfor %}
    </tr>
</table>
