<div class="dropdown">
  <input type="hidden" id="{{ widget.name }}" name="{{ widget.name }}" value="{{ widget.value }}" readonly="readonly"/>
  <div class="choice" onClick="showElement('{{ widget.name }}-menu-id', true);">
    <img src="{{ widget.image }}" style="max-width: 130px;" id="{{ widget.name }}-preview" />
    <input type="text" id="{{ widget.name }}-visible" name="{{ widget.name }}-visible" value="{{ widget.label }}" class="field" readonly="readonly" onClick="showElement('{{ widget.name }}-menu-id', true);" />
  </div>
  <ul class="list" id="{{ widget.name }}-menu-id" onmouseleave="showElement('{{ widget.name }}-menu-id', false)">
  {% for group_name, group_choices, group_index in widget.optgroups %}
    {% if group_name %}<optgroup label="{{ group_name }}">{% endif %}
      {% for option in group_choices %}
        {% include option.template_name with widget=option %}
      {% endfor %}
    {% if group_name %}</optgroup>{% endif %}
  {% endfor %}
  </ul>
</div>
